.main__container
{
    background: url("../../assets/mountain.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #162237;
    font-size: 45px;
    font-weight: 700;
    justify-content: space-evenly ;
    z-index: 2;
    padding: 0 150px; 
    margin-top: 10%;
}
.special-font {
    font-family: 'Kepler', serif; /* Replace 'Kepler' with your desired font if it's not Kepler */
    font-style: italic;
    font-size: larger;
    color: #fff;
  }
  .glow {
    text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff; 
  }
  .no-glow {
    text-shadow: none;
  }
.block
{
    background: #fff;
    padding: 40px;
    border-radius: 100px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 40px;
    margin: 0 10px;
    transition: 0.3s;
}
.bookTripButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #c22a67;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .bookTripButton:hover {
    background-color: rgb(198, 43, 102);
    box-shadow: 0px 15px 20px rgba(159, 91, 190, 0.2);
    transform: translateY(-3px);
  }
  
  .bookTripButton:active {
    transform: translateY(2px);
  }

  @media (max-width: 718px) {
    .block{
      display: none;
    }
  }
  @media (max-width: 820px) {
    .block {
      padding: 20px;
      border-radius: 50px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
      width: 100%;
      height: auto;
      margin: 5px;
    }
  }