.booking-section{
    padding: 2rem;
    background-color:rgba(22, 34, 55, 1);
    position: relative;
}.booking-section {
    padding: 2rem;
  }
  .block2 {
    width: 100%; 
    height: 300px; 
    background-color: #162237; 
    margin: 0rem 0; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1;
  }
  .text-on-block {
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: rgb(198, 43, 102); 
    font-size: 1.5rem; 
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-style: italic;
    font-weight: bold;
  }
  .highlight {
    color: white;
  }
  .booking-image {
    display: block;
    margin: 0 auto; 
    width: 80vh; 
    height: auto; 
    animation: rotate 20s linear infinite; 
    position: relative; 
    z-index: 0; 
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .booking-title {
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 1rem;
    transition: transform 0.3s ease;
  }
  
  .card.active {
    transform: translateY(-10px) scale(1.1);
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .card-title {
    color: #333;
    margin-bottom: 1rem;
  }
  
  .card-description {
    color: #666;
    margin-bottom: 1rem;
  }
  
  .price {
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .book-button {
    background-color: rgb(198, 43, 102);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book-button:hover {
    background-color: rgb(138, 8, 58);
  }
  
  @media (max-width:898px){

    .card-container {
      flex-direction: column;
    }
  }