
.nav{
    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px 0px 25px 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  


max-width: max-content;
justify-content: center;
padding:0.7rem 2.7rem ;
top: 0;
position:sticky;
margin-left:50%;
transform:translateX(-50%);
z-index: 1000;
display:flex;
gap:0.8rem;


}
.nav a{
background:transparent;
/* padding-left: 90px; */
padding: 15px 60px 15px 60px;
border-radius:50%;
display:flex;
color:rgb(207, 193, 193);
font-size:1.1rem;
text-align: center;
text-decoration: none;
}
.nav a:hover{
    color: white;
}


.icon-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

@media screen and (max-width: 1465px) {
.nav a{
    padding-right:30px ;
    padding-left: 30px;
}
}
@media screen and (max-width: 1028px) {
    .nav a{
        padding-right:20px ;
        padding-left: 20px;
    }
    }
@media screen and (max-width: 934px) {
        .nav a{
            padding-right:10px ;
            padding-left: 10px;
        }
        }
@media screen and (max-width: 735px) {
            .nav {
                display:none;
            }
            
}