.nav__container{
    background-color: rgba(164, 167, 185, 1);
    
}
.nav{
    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px 0px 25px 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  


width: max-content;
justify-content: center;
padding:0.7rem 2.7rem ;
top: 0;
position: fixed;
margin-left:50%;
transform:translateX(-50%);
z-index: 1000;
display:flex;
gap:0.8rem;
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
box-shadow: 0px 4px 3.5px 0px rgba(0, 0, 0, 0.15);


}
.ham{
    display: none;
}
.nav a{
background:transparent;
justify-content: center;
align-items: center;
padding: 15px 15px 15px 15px;
border-radius:50%;
display:flex;
color:#7D7C78;
font-size:1.1rem;
text-align: center;
text-decoration: none;
}
.nav a:hover {
  color: white;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 1435px) {
.nav a{
    padding-right:10px ;
    padding-left: 10px;
}
}
@media screen and (max-width: 1184px) {
    .nav a{
        padding-right:5px ;
        padding-left: 5px;
    }
    
    } 
@media screen and (max-width:1073px) {
        .nav a{
            padding-right:3px ;
            padding-left: 3px;
        }
     
        }
@media screen and (max-width:1033px) {
            .nav a{
                padding-right:1px ;
                padding-left: 1px;
            }
           
}


@media (max-width: 1000px) {
    .nav__container{
        display: none;
    }
    .nav {
        display:none;
    }
    .ham{
        display:flex;
    }
    
    label .menu {
      position: fixed;
      right: -100px;
      top: -100px;
      z-index: 100;
      width: 200px;
      height: 200px;
      background: #162237;
      border-radius: 50% 50% 50% 50%;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
      cursor: pointer;
      
    }
    
    label .hamburger {
      position: absolute;
      top: 135px;
      left: 50px;
      width: 30px;
      height: 2px;
      background: white;
      display: block;
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }
    
    label .hamburger:after, label .hamburger:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: white;
    }
    
    label .hamburger:before { top: -10px; }
    
    label .hamburger:after { bottom: -10px; }
    
    label input { display: none; }
    
    label input:checked + .menu {
      box-shadow: 0 0 0 100vw #162237, 0 0 0 100vh #162237;
      border-radius: 0;
      
    }
    
    label input:checked + .menu .hamburger {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      
    }
    
    label input:checked + .menu .hamburger:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: 0;
      
    }
    
    label input:checked + .menu .hamburger:before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0;
      
    }
    
    label input:checked + .menu + ul { opacity: 1; }
    
    label ul {
      list-style-type: none;
      z-index: 200;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: .25s 0s ease-in-out;
      transition: .25s 0s ease-in-out;
    }
    
    label a {
      font-family: 'Myriad Pro', sans-serif;
      font-weight: bolder;
      margin-bottom: 1em;
      font-size: 20px;
      display: block;
      color: white;
      text-decoration: none;
      
    }
    
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: center;
    }
    }